
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.navbar {
    background-color: #333; 
    color: white;
    padding: 15px 30px;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
}
.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block; 
    transition: background-color 0.3s;
}
.nav-links li a:hover {
    background-color: #555;
}
.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: rgb(244, 14, 14);
}
@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
        color: #000;
    }
    .navbar {
        flex-wrap: wrap; 
    }
    .nav-links {
        width: 100%; 
        display: none; 
        flex-direction: column; 
        text-align: center;
        background-color: #222; 
    }
}